.mixin.out/*
assets/*
astralsorcery/*
betweenlands_gallery/*
crash-reports/*
customnpcs/*
CustomSkinLoader/*
journeymap/*
libraries/*
llibrary/*
local/*
logs/*
opframe_cache/*
mods/*
patchouli_books/*
resourcepacks/*
saves/*
screenshots/*
shaderpacks/*
tv-cache/*
versions/*
crafttweaker.log
frontierfurnace.png
launcher_profiles.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
