# Configuration file

general {
    # Enable/disable the Electrostatic modifier for Construct's Armoury equipment.
    B:enableConArmElectromechanical=true

    # Enable/disable the Electrostatic modifier.
    B:enableElectromechanical=true

    ##########################################################################################################
    # electromechanical
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for the Electrostatic modifier.
    ##########################################################################################################

    electromechanical {
        # The added chance for Electrostatic to absorb tool damage per additional level.
        # Min: 0.0
        # Max: 1.0
        D:additionalProcChance=0.0

        # The chance for Electrostatic to absorb tool damage at level 1.
        # Min: 0.0
        # Max: 1.0
        D:baseProcChance=1.0

        # The amount of energy to expand the energy buffer by per modifier level of Electrostatic.
        # Min: 0
        # Max: 2147483647
        I:energyBufferPerLevel=80000

        # The amount of energy to be consumed per durability point absorbed by Electrostatic.
        # Min: 1
        # Max: 2147483647
        I:energyUse=160

        # The maximum level that Electrostatic can be stacked to.
        # Min: 1
        # Max: 2147483647
        I:maxLevel=5
    }

    ##########################################################################################################
    # conarm
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for the Electrostatic modifier for Construct's Armoury equipment.
    ##########################################################################################################

    conarm {
        # The added chance to absorb tool damage per additional level on Construct's Armoury equipment.
        # Min: 0.0
        # Max: 1.0
        D:additionalProcChance=0.0

        # The chance to absorb tool damage at level 1 on Construct's Armoury equipment.
        # Min: 0.0
        # Max: 1.0
        D:baseProcChance=1.0

        # The amount of energy to expand the energy buffer by per modifier level for Construct's Armoury equipment.
        # Min: 0
        # Max: 2147483647
        I:energyBufferPerLevel=80000

        # The amount of energy to be consumed per durability point absorbed on Construct's Armoury equipment.
        # Min: 1
        # Max: 2147483647
        I:energyUse=800

        # The maximum level that Electrostatic can be stacked to on Construct's Armoury equipment.
        # Min: 1
        # Max: 2147483647
        I:maxLevel=5
    }

}


